{% extends "base.html" %}
{% block title %} - {{chapter.name}} {% endblock title %}
{% block content %}

<div class="container-fluid">
    <div class="row mt-4 justify-content-center">
        <h1>{{question.content}}</h1>



        {% if not items %}
        <div class="col-12">
            <div class="alert alert-warning text-center align-self-center">
                No Chapters Found !
            </div>
        </div>
        {% else %}
        <form id="ExamForm" method="POST" action=".">
            <ul>
                {% for item in items %}
                <li>{{item.Question.content}}
                    <ul>
                        {% csrf_token %}
                        <div class="form-group row">
                            <label for="{{ item.form.options.id_for_label }}" class="col-sm-4 col-xs-12 col-form-label text-light">Email
                                Address</label>
                            <div class="col-sm-8 col-xs-12">
                                {{ item.form.options }}
                                <span class="help-block">{{ item.form.options.errors }}</span>
                            </div>
                        </div>
                    </ul>
                </li>
                {% endfor %}
                <button type="submit">
                    Submit
                </button>
        </form>

        </ul>
        {% endif %}
    </div>
</div>


{% endblock content %}