{% extends "base.html" %}
{% load staticfiles %}
{% block title %} - Login or signup {% endblock title %}
{% block content %}
<!-- Start of Login Area-->
<div class="bg h-100">
    <!-- Login Area -->
    <div class="container h-100">
        <div class="d-flex align-items-center h-100 ">
            <div class="mx-auto">
                <div class="d-flex justify-content-start">
                    <img class="p-2 " height="100" width="100" src="{% static 'images/logo.png'%}">
                    <h1 class="p-2 align-self-center display-5 text-light"> Quick Exam</h1>
                </div>
                {% include "identity/signinfom.html" with form=form %}
            </div>
        </div>
    </div>
</div>
<!-- End of Login Area-->
{% endblock content %}